<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{'HOME'|translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid fixed>
      <ion-row align-items-stretch>
        <ion-col size="12" size-md="6" *ngFor="let restaurant of restaurants">
          <ion-card class="restaurant-card">
              <img src="{{restaurant.image_url}}"/>
              <div class="card-title">{{restaurant.name}}</div>
              <div class="card-subtitle">{{restaurant.company_id}}</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>